html{
	background-color: #cccccc;
	background-image: linear-gradient(beige, beige, pink);
}
body{
	background-color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    min-width: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 2px;
}
header{
    margin: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
nav{
	background-color: rgba(206, 192, 163, 0.32);
	padding-left: 0;
    border: solid purple;
    margin: 10px;
    font-size: 16pt;
}
ul{
  padding: 0;
}
nav ul li{
	display: inline;
	margin-left: 5%;
}

nav form{
	text-align: right;
	position: relative;
 	bottom: 20px;
 	right: 20px;
}
aside{
	position: absolute;
    right: 20px;
    width: 350px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid;
	border-color: #dfb1e0;
}
aside ul{
	list-style-type: none;
	padding-left: 10px;
}

main{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 380px;
	padding-right: 20px;
	padding-left: 20px;
	border: solid;
	border-color: pink;
	background-color: rgba(0,0,0,0.1);
}
footer{
	margin: 10px; 
	padding-left: 10px;
	border: solid pink;
}



@media only screen and (max-width: 700px){
  nav{
  	padding: 10px;
  	padding-bottom: 20px;
  	text-align: center;
  }
  nav form{
  	position: static;
  }
 nav ul{
  	padding-left: 0;
  }
  nav ul li{
  	font-size: 20pt;
  	display: block;
  }
  .content{
  	display: flex;
  	flex-flow: wrap;
  }
  main{
  	order: 0;
    width: 100%;
    margin: 10px;
  }
  aside{
  	order: 1;
  	position: static;
  	width: 100%;
  	margin: 10px; 
  }
}
@media only screen and (min-width: 1280px){
	body{
		margin-right: 20%;
		margin-left: 20%;
	}
	aside{
		position: absolute;
    	right: 21%;
	}
}

/*Modal*/
* {box-sizing: border-box;}

.row:after {
	content: "";
	display: table;
	clear: both;
}
.column {
	float: left;
	width: 25%;
}
/*The Modal's background*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black
}

/*Modal content*/
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	margin-top: -50px;
	padding: 0;
	height: 50%;
	max-width: 1200px;
}

/*The close button*/
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}
.close:hover,
.close:focus{
	color: #999;
	text-decoration: none;
	cursor: pointer;
}
.mySlides {
	display: none;/*hiding the slides*/
}
.cursor{
	cursor: pointer;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px; /*easier to trap*/
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, 
.next:hover {
  background-color: rgba(0,0,0,0.8);
}
img {
	margin-bottom: -4px;
}
/* Caption text */
.caption-container {
  color: black;
  background-color: antiquewhite;
  font-size: 25px;
  padding: 2px 16px;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  background-color: antiquewhite;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.demo {
	opacity: 0.6;
	width: 100%;
}
.active,
.demo:hover {
	opacity: 1;
}
img.hover-shadow {
	transition: 0.3s;
	width: 90%;
}
.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}