body{
  	background-color: #cccccc;
	background-image: linear-gradient(beige, beige, pink);
    font-family: "Comic Sans MS", cursive, sans-serif;
    min-width: 300px;
}
header{
    margin: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
ul{
	padding: 0px;
}
nav{
	background-color: rgba(206, 192, 163, 0.32);
	padding-left: 0px;
    border: solid purple;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16pt;
    padding-right: 30%;
    height: 20%;
}

nav ul li{
	display: inline;
	margin-left: 5%;
}

nav form{
	position: absolute;
	top: 15%;
	right: 5%;
}
aside{
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	left: 72%;
	right: 10px;
	border: solid;
	border-color: #dfb1e0;
}
aside ul{
	list-style-type: none;
	padding-left: 10px;
}
main{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 30%;
	padding-right: 20px;
	padding-left: 20px;
	border: solid;
	border-color: pink;
	background-color: rgba(0,0,0,0.1);
}
@media only screen and (max-width: 700px){
  nav{
  	padding: 10px;
  	padding-bottom: 20px;
  	text-align: center;
  }
  nav form{
  	position: static;
  }
 nav ul{
  	padding-left: 0px;
  }
  nav ul li{
  	font-size: 20pt;
  	display: block;
  }
  .content{
  	display: flex;
  	flex-flow: wrap;
  }
  main{
  	order: 0;
    width: 100%;
    margin: 10px;
  }
  aside{
  	order: 1;
  	position: static;
  	width: 100%;
  	margin: 10px; 
  }
}
footer{
	margin: 10px; 
	margin-bottom: -30px;
	padding-left: 10px;
	border: solid pink;
}