body{
	background-color: grey;
}
header{
	position: relative;
	left: 500px;
	color:pink;
	font-size: 70px;
	font-weight: bold;
	
}
nav{
	margin:20px;
	border: solid;
	border-color: pink;
	background-color: pink;
	column-count: 5;
	padding:10px;
	font-style: small-caps;
	font-weight: bold;
	font-size: 24px;
	
}
form{
	border: solid;
	position: absolute;
	left: 1100px;
	top: 115px;
}
main{
	margin:20px;
	margin-right: 600px;
	border: solid;
	border-color: pink;
	background-color: pink;
}
footer{
	margin:20px;
	
}
aside{
	margin: 20px;
	position: absolute;
	left: 600px;
	top: 200px;
	background-color: pink;}
